.movie-carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;

  .carousel-control {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 40px;

    &:hover {
      color: #ff9800;
    }

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }
  }

  .carousel-content {
    display: flex;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
  }

  .movie-slide {
    flex: 0 0 calc(100% / 5);
    padding: 10px;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.02);
      }
    }

    h3 {
      margin-top: 10px;
      font-size: 16px;
      color: #fff;
    }
  }

  // Tablets (até 1024px)
  @media (max-width: 1024px) {
    .movie-slide {
      flex: 0 0 calc(100% / 4); // Exibe 4 itens
    }
  }

  // Telas pequenas (até 768px)
  @media (max-width: 768px) {
    .movie-carousel {
      height: auto;
    }

    .movie-slide {
      flex: 0 0 calc(100% / 2); // Exibe 3 itens
      padding: 6px;

      img {
        border-radius: 8px;
      }

      h3 {
        font-size: 14px;
      }
    }

    .carousel-control {
      top: 45%;
      font-size: 32px;
    }
  }

  // Celulares (até 478px)
  @media (max-width: 480px) {
    .movie-carousel {
      .carousel-control {
        width: 30%;
        font-size: 16px;
      }

      .carousel-content {
        width: 30%;

        .serie-card {
          margin: 0 3px;
        }
      }

      .more-button {
        font-size: 12px;
        padding: 6px 10px;
      }

      .movie-slide {
        flex: 0 0 calc(100%/ 2); // Exibe 2 itens
        padding: 4px;
      }

    }


  }
}