.serie-carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;

    .carousel-control {
        background: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: var(--text-color);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        transition: color 0.3s ease;

        &:hover {
            color: #ff9800; // Cor diferente ao passar o mouse
        }

        &.left {
            left: 45px;
        }

        &.right {
            right: 45px;
        }
    }
    .carousel-content {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 90%;
        position: relative;

        >div {
            flex: 1;
            margin: 0 10px;
            list-style: none;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.05); // Efeito de zoom ao passar o mouse
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); // Sombra ao passar o mouse
            }

            .serie-card {
                border-radius: 30px;
            }
        }
    }

    .more-button-wapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .more-button {
        background-color: #007bff;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px 16px;
        text-decoration: none;
        color: #fff;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #0069d9;
            transform: scale(1.05);
        }
    }
}

// Media Queries para ajustar a responsividade
@media (max-width: 768px) {
    .carousel-control {
        font-size: 20px; // Reduz o tamanho dos controles em telas menores
    }

    .carousel-content {
        width: 100%; // Ajusta o conteúdo para ocupar toda a largura da tela

        .serie-card {
            // Corrigido para série
            margin: 0 5px; // Menos margem em telas menores
        }
    }

    .more-button {
        bottom: 10px;
        right: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .carousel-control {
        font-size: 18px; // Reduz ainda mais o tamanho em telas muito pequenas
    }

    .carousel-content {
        .serie-card {
            // Corrigido para série
            margin: 0 3px; // Margens bem pequenas em telas pequenas
        }
    }

    .more-button {
        padding: 8px;
        font-size: 12px; // Botão menor em telas muito pequenas
    }
}